<h1>Hello Here are all my bookings</h1>

<% @bookings.each do |booking| %>
  <div>
    <%= booking %>
    <%= link_to '✎ Edit Booking', edit_booking_path(booking) %>
    <%= link_to 'Delete', booking_path(booking), method: :delete, data: { confirm: 'Are you sure? there is no refunds!!!' } %>
  <div>
<% end %>
