<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/miabellavia/CODEX"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/lewagonlondon/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/lewagonlondon/"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/LeWagonLondon?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/school/le-wagon/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    We All <i class="fas fa-heart"></i> CODEX 2021©
  </div>
</div>
