<%#= @teachers.each do |teacher| %>
  <%# <div class="card-category" style=" url('<%= image_tag "https://kitt.lewagon.com/placeholder/users/#{teacher.user.username}" %>')" >
    <%# <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{teacher.user.username}" %> %>
    <%# <%= teacher.user.first_name %> <%= teacher.user.last_name %>
    <%#= teacher.category %>
    <%#= link_to 'Book', new_teacher_booking_path(teacher) %>
    <%#= link_to 'Show', teacher %>
  <%# </div> %> %> %>
<%# <% end  %> %>
