<div class="container">
  <div class="header">
    <h1 class="pt-5">Our Teachers</h1>
  </div>

  <div class="teacher_card_container">
    <div class="teacher_cards">
      <%= render @teachers %>
    </div>
  </div>
</div>

<br>
<br>
<%= link_to 'Home', root_path, class: "path-buttons py-3 px-5" %>
<br>
<br>
