<div class="custom-container">
  <div class="header">
    <h1 class="pt-5">Our Teachers</h1>
  </div>

  <div class="teacher_card_container">
    <div class="teacher_cards">
      <%= render @teachers %>
    </div>
  </div>
</div>

<%= link_to 'Home', root_path %>
