<div class="container">
  <%= render 'form', teacher: @teacher, class: "col-sm-2 col-form-label col-form-label-lg" %>
  <br>
  <br>
  <br>
  <%= link_to 'Back', teachers_path, class: 'path-buttons py-3 px-5' %>
  <br>
  <br>
</div>
