.navbar-lewagon {
  justify-content: space-between;
  position: fixed;
  background: transparent;
  width: 100px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  color: #AB87FF;
  font-family: sans-serif;
  font-size: 16px;
  justify-content: center;
  text-align: center;
  background-color: black;
  width: 120px;
  height: 40px;
  margin: 5px;
  border-radius: 25px;
}
